*.pyc
*.log
*.idea*
*.err
*.out
*.pid
.coverage*
*.data.*

TimestampsSnitch/pandoc_reports/*

MetricsFeeder/src/daemon/pids/
MetricsFeeder/src/daemon/logs/
MetricsFeeder/src/pipelines/java_mappings/
MetricsFeeder/bin-nethogs/


*FlameGraph*
*perf-map-agent*
*recording*
*timestamps*



