__pycache__/
*.py[cod]
*.log
*.idea*
*.err
*.out
*.pid
.coverage*
*.data.*
venv/

ReportGenerator/pandoc_reports/*

MetricsFeeder/src/daemon/pids/
MetricsFeeder/src/daemon/logs/
MetricsFeeder/src/java_hadoop_snitch/java_mappings/


*FlameGraph*
*perf-map-agent*
*recording*
*timestamps*



