.nvtooltip {
  position: absolute;
  background-color: rgba(255,255,255,1);
  padding: 10px;
  border: 1px solid #ddd;
  font-family: Arial;
  font-size: 13px;
  transition: opacity 500ms linear;
  -moz-transition: opacity 500ms linear;
  -webkit-transition: opacity 500ms linear;
  transition-delay: 500ms;
  -moz-transition-delay: 500ms;
  -webkit-transition-delay: 500ms;
  -moz-box-shadow: 4px 4px 12px rgba(0,0,0,.5);
  -webkit-box-shadow: 4px 4px 12px rgba(0,0,0,.5);
  box-shadow: 4px 4px 12px rgba(0,0,0,.5);
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.nvtooltip h3 {
  margin: 0;
  padding: 0;
  text-align: center;
}
.nvtooltip p {
  margin: 0;
  padding: 0;
  text-align: center;
}
.nvtooltip span {
  display: inline-block;
  margin: 2px 0;
}
text {
  font: 14px sans-serif;
}
.legend .series {
  cursor: pointer;
}
.legend circle {
  stroke-width: 2px;
}
.legend .disabled circle {
  fill-opacity: 0;
}
.axis path {
  fill: none;
  stroke: #000;
  stroke-opacity: .75;
  shape-rendering: crispEdges;
}
.axis path.domain {
  stroke-opacity: .75;
}
.axis line {
  fill: none;
  stroke: #000;
  stroke-opacity: .25;
  shape-rendering: crispEdges;
}
.axis line.zero {
  stroke-opacity: .75;
}
.point-paths path {
  stroke-opacity: 0;
  fill-opacity: 0;
}
.lines path {
  fill: none;
  stroke-width: 1.5px;
  stroke-linecap: round;
  transition: stroke-width 250ms linear;
  -moz-transition: stroke-width 250ms linear;
  -webkit-transition: stroke-width 250ms linear;
  transition-delay: 250ms;
  -moz-transition-delay: 250ms;
  -webkit-transition-delay: 250ms;
}
.line.hover path {
  stroke-width: 6px;
}
.lines .point {
  transition: stroke-width 250ms linear;
  -moz-transition: stroke-width 250ms linear;
  -webkit-transition: stroke-width 250ms linear;
}
.lines .point.hover {
  stroke-width: 20px;
  stroke-opacity: .5;
}



#outer-dropzone {
  height: 140px;
}

#inner-dropzone {
  height: 80px;
}

.dropzone {
  background-color: #ccc;
  border: dashed 4px transparent;
  border-radius: 4px;
  margin: 10px auto 30px;
  padding: 10px;
  width: 80%;
  transition: background-color 0.3s;
}

.drop-active {
  border-color: #aaa;
}

.drop-target {
  background-color: #29e;
  border-color: #fff;
  border-style: solid;
}

.drag-drop {
  display: inline-block;
  min-width: 40px;
  padding: 2em 0.5em;

  color: #fff;
  background-color: #29e;
  border: solid 2px #fff;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);

  transition: background-color 0.3s;
}

.drag-drop.can-drop {
  color: #000;
  background-color: #4e4;
}
