[DEFAULT]
NETHOGS_SAMPLING_FREQUENCY=5
POST_ENDPOINT_PATH=http://opentsdb:4242/api/put
POST_DOC_BUFFER_TIMEOUT=5
HEARTBEAT_ENABLED=false
JAVA_TRANSLATION_ENABLED=false